.THIS .scrollable {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
/* *******************************************
  <ui:scrollerWrapper class="scrollerWrapper">
    <div class="div">  </div>
    </ui:scrollerWrapper> 
**********************************************
*/
/* IOS scrollCss Start 
.THIS.scrollerWrapper{
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 1px;
    width: 100%;
    z-index: 11;
    overflow-y: scroll;
    
   
}
.THIS .div { 

min-height: 700px; 

}
 IOs Scroll css end*/


/* IOS scrollCss Start */
.THIS.scrollerWrapper{
    position: absolute;
    left: 0;
    top: 20px;
    bottom: 1px;
    width: 100%;
    z-index: 11;
    overflow: scroll;
}
.THIS .div { 
min-width: 800px; 
max-width: 800px; 
min-height: 700px; 
}
 /*IOs Scroll css end*/
.THIS.scrollerWrapper1 { 
max-width: 375px; 
min-height: 700px; 
position:absolute;
overflow: auto;
 -webkit-overflow-scrolling:touch;
border-radius: 1px;
}